.table-cell {
	position: relative;
	height:50px
}
  
.add-form {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

.table-cell:hover .add-form {
	display: block;
}

.day-num,.curr-day {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.curr-day {
	background-color: pink;
}

.list {
	margin-top:50px
}